<p id="notice"><%= notice %></p>

<h1>Paper Management System</h1>

<h1>It works!</h1>
You are seeing the rendered view of 'views/home/index.html.erb'

<p><%= link_to "Show Authors", authors_path %></p>
<p><%= link_to "Show Papers", papers_path %></p>
